

.conxtion {
    align-items: center;
    background-color: rgb(21, 21, 67);
    border-radius: 10px;
    padding: 10%;
    color: aliceblue;
    padding-top: 10%;
}

.formulaire {
    padding: 5%;
    margin-right: 10%;
}

.regles {
    color: aliceblue;
    padding: 4%;
    background-color: rgb(25, 25, 108);
    border-radius: 10px;
}

.regles li{
    padding-top: 5%;
}

.validation {
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 5%;
    animation: RGB 2s infinite;
    background-color: rgb(36, 36, 43);
    border: 1px solid white;
    padding: 1%;
    border-radius: 10px;
}